html, body{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 100%;
    background-color: #ECF0F1;
    width: 100%;
    margin: 0;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 700;
	/*position: relative;*/
}

.top-nav {
	text-align: right;
	margin-right: 2%;
	padding-top: 0.02%;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color:#ECF0F1;
}

.top-nav ul li a {
	color: #7E7C7E;
	text-align: center;
	padding: 0.2em 1.5em;
	text-decoration:none;
}

top-nav:after {
    clear: both;
}

.header{
	background-color:#34495E;
	/*display: inline-block;*/
	width: 100%;
}

.header li {
	padding-bottom: 0.25em;
	margin-left: 1em;
}

.pitch {
	color:#ECF0F1;
	padding-top: 5%;
	padding-left: 5%;
	/*float: left;*/
}

.pitch p {
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 2.7em;
}


h2 {
	color: #f39c12;
	font-weight: 600;
	margin-top: -1.4em;
	font-size: 1.3em;
}

h3 {
	font-size: 1.3em;
}

.appstorebadge {

	padding-bottom: 10%;
}

.appstorebadge img {
	width: 10em;
}

.logo {
	/*display: inline-block;*/
    width: 20em;
    height: 35em;
    /* margin-left: 70%; */
    margin-top: -18.2em;
    float: right;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.gallery {
	clear: both;
}
.gallery h3 {

	padding-top: 1em;
	text-align: center;
}

.images-container {
	text-align: center;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul.horizontal-list {
	/*min-width: 696px;*/
	list-style: none;
	padding-top: 0.5em;
	margin-left: -40px;
	padding-bottom: 3em;
}

ul.horizontal-list li {
	display: inline;
}

.screenshot {
	height: 20em;
}

.team h3 {
	text-align: center;
	padding-top: 2em;
}

.team {
	/*clear: both;*/
	width: 100%;
	background-color: #E0E3E5;
	text-align: center;
}

.profilepic {
	height: 10em;
	width: 10em;
	padding: 0.5em 3em 1em 3em;
	
	border-radius: 50%
}

.contact {
	clear: both;
	padding-top: 1%;
	padding-bottom: 1.5%;
	background-color:#34495E; 
	text-align: center;
	color: #ECF0F1;
}

.contact p {
	font-weight: 300;
}

.email {
	color: #3498db;
	font-weight: 500;
}

@media screen and (max-width:900px){

	.logo {
		display: none;
	}

}

@media screen and (max-width: 63.5em) {
	/*1000px? YES!*/
	.logo {
		display: none;
	}
	.header li {
		padding-right: 1.5em;
		text-align: left;
	}
	h1 {
		padding-bottom: 0.5em;
	}
	.pitch {
		text-align: center;
		margin: 0;
		padding: 0 1em;
	}
	nav li {
		display: none;
	}
	.appstorebadge img {
		width: 20em;
	}
	ul.horizontal-list li {
		display: block;
		padding-bottom: 1em;
	}

	.screenshot {
	width: 40em;
	height: 80em;
	}
}

@media screen and (max-width:320px){
	.header li {
		margin-left: -1.5em;
		text-align: center;
		list-style: inside;
	}
	.pitch {
		/*margin-bottom: -50%;*/
	}
}