html, body{
    font-family: 'Open Sans', Avenir, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #ECF0F1;
    width: 100%;
    margin: 0;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 700;
}

.top-nav {
	text-align: right;
	margin-right: 2%;
	padding-top: 0.02%;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color:#ECF0F1;
}

.top-nav ul li a {
	color: #7E7C7E;
	text-align: center;
	padding: 0.2em 1.5em;
	text-decoration:none;
}

top-nav:after {
    clear: both;
}

.header{
	background-color:#34495E;
	width: 100%;
}

.header li {
	padding-bottom: 0.25em;
	margin-left: 1em;
}

.pitch {
	color:#ECF0F1;
	padding-top: 5%;
	padding-left: 5%;
}

.pitch p {
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 2.7em;
}


h2 {
	color: #f39c12;
	font-weight: 600;
	margin-top: -1.4em;
	font-size: 1.3em;
}

h3 {
	font-size: 1.3em;
}

.appstorebadge {
	padding-bottom: 10%;
}

.appstorebadge img {
	width: 10em;
}

.logo {
    width: 20em;
    margin-top: -18.2em;
    float: right;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.gallery {
	clear: both;
}
.gallery h3 {

	padding-top: 1em;
	text-align: center;
}

.images-container {
	text-align: center;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul.horizontal-list {
	list-style: none;
	padding-top: 0.5em;
	margin-left: -40px;
	padding-bottom: 3em;
}

ul.horizontal-list li {
	display: inline;
}

.screenshot {
	height: 20em;
}

.team h3 {
	text-align: center;
	padding-top: 2em;
}

.team {
	width: 100%;
	background-color: #E0E3E5;
	text-align: center;
}

.profilepic {
	height: 15em;
	width: auto;
	background-position: center;
	}

.profilepicitem {
	/*background-image: url("../img/adamprofile.jpg");*/
`
}
.profilepicitem img{
	background-size: 100%;
/*	height: auto;
	width: auto;*/
}

.profilepicitem img {
	background-image: no-repeat;
	background-position: center;
}

#nicolai, #adam {
}

#nicolai {
	background-image: url("../img/nicolaiprofile.png");
}

#nicolai:hover {
	background-image: url("../img/nicolaiprofilehover.png");
}

#adam {
	background-image: url("../img/adamprofile.jpg");
}
#adam:hover {
	background-image: url("../img/adamprofilehover.png");
}


.contact {
	clear: both;
	padding-top: 1%;
	padding-bottom: 1.5%;
	background-color:#34495E; 
	text-align: center;
	color: #ECF0F1;
}

.contact p {
	font-weight: 300;
}

.email {
	color: #3498db;
	font-weight: 500;
}

@media screen and (max-width:70em){

	.logo {
		display: none;
	}

}

@media screen and (max-width: 63.5em) and (orientation: portrait) {
	
	body {
		font-size: 1.5em;
	}
	.logo {
		display: none;
	}
	.header li {
		padding-right: 1.5em;
		text-align: left;
	}
	h1 {
		padding-bottom: 0.35em;
		padding-top: 0;
		margin-top: -0.5em;
	}
	.pitch {
		text-align: center;
		margin: 0;
		padding: 0 1em;
	}
	nav li {
		display: none;
	}
	.appstorebadge img {
		padding-top: 1.5em;
		width: 15em;
	}
	ul.horizontal-list li {
		display: block;
		padding-bottom: 1em;
	}

	.screenshot {
		width: 30em;
		height: 52.8876em;
	}
	.subtitle {
		padding-bottom: 0.25em;
	}
}

@media screen and (max-width: 50em) and (orientation: portrait) {
	.screenshot {
		width: 20em;
		height: 35.2584em;
	}

}

@media screen and (max-width: 30em) and (orientation: portrait) {
	.screenshot {
		width: 15em;
		height: 26.4438em;
	}

}
@media screen and (max-width:320px){
	.header li {
		margin-left: -1.5em;
		text-align: center;
		list-style: inside;
	}
}